<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeartRateSensor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HeartRate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <HeartRateSensor.Properties.Settings>
            <setting name="HeartRateId" serializeAs="String">
                <value>4c62001e-8f0c-4775-8475-d461a5f42bca</value>
            </setting>
            <setting name="AuthorId" serializeAs="String">
                <value>fd8a6def-52c4-4af3-82bd-0f7b034ccdac</value>
            </setting>
            <setting name="AvatarUrl" serializeAs="String">
                <value>http://neurul.ngrok.io/heartrate/</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>10</value>
            </setting>
        </HeartRateSensor.Properties.Settings>
        <HeartRate.Properties.Settings>
            <setting name="HeartRateId" serializeAs="String">
                <value>4c62001e-8f0c-4775-8475-d461a5f42bca</value>
            </setting>
            <setting name="AuthorId" serializeAs="String">
                <value>fd8a6def-52c4-4af3-82bd-0f7b034ccdac</value>
            </setting>
            <setting name="AvatarUrl" serializeAs="String">
                <value>http://neurul.ngrok.io/heartrate/</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>10</value>
            </setting>
        </HeartRate.Properties.Settings>
    </userSettings>
</configuration>
