<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Reactor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <Reactor.Properties.Settings>
            <setting name="TimestampFormat" serializeAs="String">
                <value>HH:mm:ss.ffffff</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="NotificationLogBaseUrl" serializeAs="String">
                <value>http://neurul.ngrok.io</value>
            </setting>
            <setting name="AnalyzedId" serializeAs="String">
                <value>8c4df9d3-9fc8-4377-b43d-4db544abc9f2</value>
            </setting>
            <setting name="AvatarUri" serializeAs="String">
                <value>heartrate</value>
            </setting>
            <setting name="SpikeTargets" serializeAs="String">
                <value>fc32f33a-7115-4eee-853e-fbcc10dbf09f, 36ebff6d-5b8b-4819-b71d-ffab7dc6e035</value>
            </setting>
            <setting name="ResultMarkers" serializeAs="String">
                <value>2f695b78-ebb1-442d-a653-38b3ca3a32d1, 17c6ea5b-62a3-4c38-a044-b67957162211, dece2a11-a4ae-4f06-a90a-ac350dd77521</value>
            </setting>
        </Reactor.Properties.Settings>
    </applicationSettings>
</configuration>
