<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeartRateAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HeartRateAnalyzer.Properties.Settings>
            <setting name="AvatarUrl" serializeAs="String">
                <value>http://neurul.ngrok.io/heartrate/</value>
            </setting>
            <setting name="HeartRateId" serializeAs="String">
                <value>4c62001e-8f0c-4775-8475-d461a5f42bca</value>
            </setting>
            <setting name="AnalyzedId" serializeAs="String">
                <value>8c4df9d3-9fc8-4377-b43d-4db544abc9f2</value>
            </setting>
            <setting name="WarningId" serializeAs="String">
                <value>16de4a5a-361c-4de5-8a2a-ec5f5addb21d</value>
            </setting>
            <setting name="RelaxedId" serializeAs="String">
                <value>578c3f3d-388e-48e3-b71a-3399df62c94e</value>
            </setting>
            <setting name="AnalyzerAuthorId" serializeAs="String">
                <value>2937b2cc-281f-4307-af67-1bf81708345d</value>
            </setting>
            <setting name="GetId" serializeAs="String">
                <value>f8f59181-091b-4454-852a-61d6873a563f</value>
            </setting>
            <setting name="EventsId" serializeAs="String">
                <value>c42b7fed-acbb-4d0d-bebe-3a2e6fbc1fd9</value>
            </setting>
            <setting name="UnknownRateId" serializeAs="String">
                <value>c859ff31-4b25-4dda-8c3b-93f67c5004d7</value>
            </setting>
        </HeartRateAnalyzer.Properties.Settings>
    </userSettings>
</configuration>